{% comment %}
  Renders product title & price information

  Usage:
  {% render 'title-price'%}
{% endcomment %}

{% liquid
  assign title = product.title | default: ''
  assign vendor = product.vendor | capitalize | default: ''
%}

<div class="flex flex-col gap-small mb-[36px]">
  <span class="text-body-sm leading-none">
    {{ vendor | escape }}
  </span>

  <h1 class="text-t-md text-black">
    {{ title | escape }}
  </h1>

  <div id="price-{{ section.id }}" role="status">
    {% render 'price-b' %}

    {%- if cart.taxes_included -%}
      <p class="text-body-xs text-grey500 mt-mini">({{ 'products.product.include_taxes' | t }})</p>
    {%- endif -%}

    {% if product.selected_or_first_available_variant.sku %}
      <p class="text-body-xs text-grey500 mt-mini">
        {{ 'products.product.article_number' | t }}: {{ product.selected_or_first_available_variant.sku }}
      </p>
    {% endif %}
  </div>

  <div {{ block.shopify_attributes }}>
    {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
    {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      {{ form | payment_terms }}
    {%- endform -%}
  </div>
</div>

{% comment %} <p>Discount: {{ discount_percentage | round: 2 }}%</p> {% endcomment %}
