<div class="my-mega">
  <product-recommendations
    class="related-products block"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <div
        id="related-products-carousel"
        class="splide"
        aria-label="related products carousel"
      >
        <div class="relative flex justify-between items-center carousel-heading">
          <h1 class="text-t-md">{{ 'sections.related_products.title' | t }}</h1>

          <div class="splide__arrows flex gap-base">
            {% render 'prev', class: 'splide__arrow splide__arrow--prev' %}
            {% render 'next', class: 'splide__arrow splide__arrow--next' %}
          </div>
        </div>

        <div class="relative">
          <div class="splide__track">
            <ul class="splide__list">
              {%- comment %}<locksmith:d4da>{% endcomment -%}
                {%- assign locksmith_9b34_forloop__size = 0 %}{% for product in recommendations.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: recommendations, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_9b34_forloop__size = locksmith_9b34_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_9b34_forloop__index = nil -%}
              {%- comment %}</locksmith:d4da>{% endcomment -%}
              {% for product in recommendations.products %}
                {%- comment %}<locksmith:ab43>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: recommendations, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_9b34_forloop__index == nil %}{% assign locksmith_9b34_forloop__index = 1 %}{% assign locksmith_9b34_forloop__index0 = 0 %}{% else %}{% assign locksmith_9b34_forloop__index = locksmith_9b34_forloop__index | plus: 1 %}{% assign locksmith_9b34_forloop__index0 = locksmith_9b34_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_9b34_forloop__index == 1 %}{% assign locksmith_9b34_forloop__first = true %}{% else %}{% assign locksmith_9b34_forloop__first = false %}{% endif %}{% if locksmith_9b34_forloop__index == locksmith_9b34_forloop__size %}{% assign locksmith_9b34_forloop__last = true %}{% else %}{% assign locksmith_9b34_forloop__last = false %}{% endif %}{% assign locksmith_9b34_forloop__rindex = locksmith_9b34_forloop__size | minus: locksmith_9b34_forloop__index | minus: 1 %}{% assign locksmith_9b34_forloop__rindex0 = locksmith_9b34_forloop__size | minus: locksmith_9b34_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:ab43>{% endcomment -%}
                <li class="splide__slide">
                  {% liquid
                    if locksmith_9b34_forloop__first
                      assign card_class = ' lg:!pl-0'
                    else
                      assign card_class = ' '
                    endif
                  %}
                  {% render 'product-card', product: product, class: card_class %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  </product-recommendations>
</div>

<script src="{{ 'splide.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'splide-related.js' | asset_url }}" defer="defer"></script>
