{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- if predictive_search.performed -%}
  <div id="predictive-search-results" class="max-w-[400px] w-full mx-auto px-large lg:px-0" role="listbox">
    <div class="flex flex-col w-full gap-base">
      {%- if predictive_search.resources.products.size > 0 -%}
        <div>
          <h2
            id="predictive-search-queries"
            class="text-t-xs predictive-search__heading capitalize mb-small text-grey500"
          >
            {{- 'templates.search.suggestions' | t -}}
          </h2>

          <ul
            id="predictive-search-results-queries-list"
            class="predictive-search__results-list list-unstyled flex flex-col gap-small"
            role="group"
            aria-labelledby="predictive-search-queries"
          >
            {% comment %}
              {%- for query in predictive_search.resources.queries -%}
                <li
                  id="predictive-search-option-query-{{ forloop.index }}"
                  class="predictive-search__list-item"
                  role="option"
                  aria-selected="false"
                >
                  <a href="{{ query.url }}" class="predictive-search__item link link--text" tabindex="-1">
                    <div class="predictive-search__item-content predictive-search__item-content--centered">
                      <p
                        class="predictive-search__item-heading predictive-search__item-query-result h5"
                        aria-label="{{ query.text }}"
                      >
                        {{ query.styled_text }}
                      </p>
                    </div>
                  </a>
                </li>
              {%- endfor -%}
            {% endcomment %}

            {%- comment %}<locksmith:f162>{% endcomment -%}
              {%- assign locksmith_b901_forloop__size = 0 %}{%- for product in predictive_search.resources.products limit: 4 -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: predictive_search.resources, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_b901_forloop__size = locksmith_b901_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_b901_forloop__index = nil -%}
            {%- comment %}</locksmith:f162>{% endcomment -%}
            {%- for product in predictive_search.resources.products limit: 4 -%}
              {%- comment %}<locksmith:d9ae>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: predictive_search.resources, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_b901_forloop__index == nil %}{% assign locksmith_b901_forloop__index = 1 %}{% assign locksmith_b901_forloop__index0 = 0 %}{% else %}{% assign locksmith_b901_forloop__index = locksmith_b901_forloop__index | plus: 1 %}{% assign locksmith_b901_forloop__index0 = locksmith_b901_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_b901_forloop__index == 1 %}{% assign locksmith_b901_forloop__first = true %}{% else %}{% assign locksmith_b901_forloop__first = false %}{% endif %}{% if locksmith_b901_forloop__index == locksmith_b901_forloop__size %}{% assign locksmith_b901_forloop__last = true %}{% else %}{% assign locksmith_b901_forloop__last = false %}{% endif %}{% assign locksmith_b901_forloop__rindex = locksmith_b901_forloop__size | minus: locksmith_b901_forloop__index | minus: 1 %}{% assign locksmith_b901_forloop__rindex0 = locksmith_b901_forloop__size | minus: locksmith_b901_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:d9ae>{% endcomment -%}
              <li
                id="predictive-search-option-collection-{{ locksmith_b901_forloop__index }}"
                class="predictive-search__list-item"
                role="option"
                aria-selected="false"
              >
                <a href="{{ product.url }}" class="predictive-search__item link link--text" tabindex="-1">
                  <div class="predictive-search__item-content predictive-search__item-content--centered">
                    {% liquid
                      assign term = predictive_search.terms | escape | downcase
                      assign title = product.title | escape | downcase

                      assign highlighted_string = '<span class="text-t-xs capitalize text-black">' | append: term | append: '</span>'

                      assign highlighted_result = title | replace_first: predictive_search.terms, highlighted_string
                    %}
                    <p class="predictive-search__item-heading text-body-xs text-grey500 lowercase">
                      {{ highlighted_result }}
                    </p>
                  </div>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if predictive_search.resources.collections.size > 0 -%}
        <div>
          <h2
            id="predictive-search-queries"
            class="text-t-xs predictive-search__heading capitalize mb-small text-grey500"
          >
            {{- 'templates.search.collections' | t -}}
          </h2>

          <ul
            id="predictive-search-results-queries-list"
            class="predictive-search__results-list list-unstyled flex flex-col gap-small"
            role="group"
            aria-labelledby="predictive-search-queries"
          >
            {%- comment %}<locksmith:49d6>{% endcomment -%}
              {%- assign locksmith_bfa0_forloop__size = 0 %}{%- for collection in predictive_search.resources.collections limit: 2 -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: predictive_search.resources, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_bfa0_forloop__size = locksmith_bfa0_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_bfa0_forloop__index = nil -%}
            {%- comment %}</locksmith:49d6>{% endcomment -%}
            {%- for collection in predictive_search.resources.collections limit: 2 -%}
              {%- comment %}<locksmith:3cb0>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: predictive_search.resources, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_bfa0_forloop__index == nil %}{% assign locksmith_bfa0_forloop__index = 1 %}{% assign locksmith_bfa0_forloop__index0 = 0 %}{% else %}{% assign locksmith_bfa0_forloop__index = locksmith_bfa0_forloop__index | plus: 1 %}{% assign locksmith_bfa0_forloop__index0 = locksmith_bfa0_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_bfa0_forloop__index == 1 %}{% assign locksmith_bfa0_forloop__first = true %}{% else %}{% assign locksmith_bfa0_forloop__first = false %}{% endif %}{% if locksmith_bfa0_forloop__index == locksmith_bfa0_forloop__size %}{% assign locksmith_bfa0_forloop__last = true %}{% else %}{% assign locksmith_bfa0_forloop__last = false %}{% endif %}{% assign locksmith_bfa0_forloop__rindex = locksmith_bfa0_forloop__size | minus: locksmith_bfa0_forloop__index | minus: 1 %}{% assign locksmith_bfa0_forloop__rindex0 = locksmith_bfa0_forloop__size | minus: locksmith_bfa0_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:3cb0>{% endcomment -%}
              <li
                id="predictive-search-option-collection-{{ locksmith_bfa0_forloop__index }}"
                class="predictive-search__list-item"
                role="option"
                aria-selected="false"
              >
                <a href="{{ collection.url }}" class="predictive-search__item link link--text" tabindex="-1">
                  <div class="predictive-search__item-content predictive-search__item-content--centered">
                    {% liquid
                      assign term = predictive_search.terms | escape | downcase
                      assign title = collection.title | escape | downcase

                      assign highlighted_string = '<span class="text-t-xs capitalize text-black">' | append: term | append: '</span>'

                      assign highlighted_result = title | replace_first: term, highlighted_string
                    %}
                    <p class="predictive-search__item-heading text-body-xs text-grey500 lowercase">
                      {{ highlighted_result }}
                    </p>
                  </div>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {% liquid
      assign total_results = predictive_search.resources.products.size
      if total_results == 0
        echo 'templates.search.no_results' | t: terms: predictive_search.terms
      else
        echo 'templates.search.results_with_count' | t: count: total_results | append: ': '
        if predictive_search.resources.queries.size > 0
          assign count = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size
          echo 'templates.search.results_suggestions_with_count' | t: count: count | append: ', '
        endif
        if predictive_search.resources.pages.size > 0
          assign count = predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size
          echo 'templates.search.results_pages_with_count' | t: count: count | append: ', '
        endif
        if predictive_search.resources.products.size > 0
          echo 'templates.search.results_products_with_count' | t: count: predictive_search.resources.products.size
        endif
      endif
    %}
  </span>

  {% liquid
    if predictive_search.resources.collections.size != 0
      assign carousel_products = predictive_search.resources.collections.first.products
    endif

    if carousel_products == blank and predictive_search.resources.products.size != 0
      assign carousel_products = predictive_search.resources.products
    else
      assign carousel_products = collections.first.products
    endif
  %}

  {%- if carousel_products.size > 0 -%}
    <div
      id="predictive-search-block"
      class="mt-huge pl-8 {% if carousel_products.size %} search-items-loaded{% endif %}"
    >
      <div
        id="predictive-search-carousel"
        class="splide "
        aria-label="related products carousel"
      >
        <div class="relative flex justify-between mr-base items-center mb-base">
          <h1 class="text-t-md">{{ 'sections.related_products.title' | t }}</h1>

          <div class="splide__arrows flex gap-base">
            {% render 'prev', class: 'splide__arrow splide__arrow--prev' %}
            {% render 'next', class: 'splide__arrow splide__arrow--next' %}
          </div>
        </div>

        <div class="relative">
          <div class="splide__track">
            <ul class="splide__list">
              {%- comment %}<locksmith:796f>{% endcomment -%}
                {%- assign locksmith_93c7_forloop__size = 0 %}{% for product in carousel_products limit: 16 %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_93c7_forloop__size = locksmith_93c7_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_93c7_forloop__index = nil -%}
              {%- comment %}</locksmith:796f>{% endcomment -%}
              {% for product in carousel_products limit: 16 %}
                {%- comment %}<locksmith:2e2e>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_93c7_forloop__index == nil %}{% assign locksmith_93c7_forloop__index = 1 %}{% assign locksmith_93c7_forloop__index0 = 0 %}{% else %}{% assign locksmith_93c7_forloop__index = locksmith_93c7_forloop__index | plus: 1 %}{% assign locksmith_93c7_forloop__index0 = locksmith_93c7_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_93c7_forloop__index == 1 %}{% assign locksmith_93c7_forloop__first = true %}{% else %}{% assign locksmith_93c7_forloop__first = false %}{% endif %}{% if locksmith_93c7_forloop__index == locksmith_93c7_forloop__size %}{% assign locksmith_93c7_forloop__last = true %}{% else %}{% assign locksmith_93c7_forloop__last = false %}{% endif %}{% assign locksmith_93c7_forloop__rindex = locksmith_93c7_forloop__size | minus: locksmith_93c7_forloop__index | minus: 1 %}{% assign locksmith_93c7_forloop__rindex0 = locksmith_93c7_forloop__size | minus: locksmith_93c7_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:2e2e>{% endcomment -%}
                <li class="splide__slide">
                  {% liquid
                    assign card_class = 'lg:!w-[197px] lg:!h-[291px]'
                    assign img_class = 'lg:!w-[167px] lg:!h-[167px]'
                    if locksmith_93c7_forloop__first
                      assign card_class = card_class | append: ' lg:!pl-0'
                    endif
                  %}
                  {% render 'product-card', product: product, class: card_class, img_class: img_class %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{%- endif -%}
